<body>
    <nav><app-navbar></app-navbar></nav>
    <main>
        <div class="container">
            <h2>Enrolled Students</h2>

            <table *ngIf="students.length > 0; else noStudents" class="student-table">
                <thead>
                    <tr>
                        <th>#</th>
                        <th>Email</th>
                        <th>Assigned Internship</th>
                        <th>Internship Status </th>
                        <th>Assigned Project</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let student of students; let i = index">
                        <td>{{ i + 1 }}</td>
                        <td>{{ student.userEmail }}</td>
                        <td>{{ student.internshipName }}</td>
                        <td>{{ student.status }}</td>
                        <td>
                            <ng-container *ngIf="student.projects && student.projects.length > 0; else noProject">
                                <ng-container *ngFor="let project of student.projects; let last = last">
                                    <a [routerLink]="['/instructor/project-details', project.projectId]" class="project-link">
                                        {{ project.projectName }}
                                    </a><span *ngIf="!last">, </span>
                                </ng-container>
                            </ng-container>
                            <ng-template #noProject>
                                No projects assigned
                            </ng-template>
                        </td>
                        
                        
                    </tr>
                </tbody>
            </table>

            <ng-template #noStudents>
                <p class="no-data">No students enrolled yet.</p>
            </ng-template>
        </div>

    </main>
</body>
<app-footer></app-footer>