body {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  position: relative;
  min-height: 100vh;
  height: fit-content;
}
.profile-container {
  max-width: 800px;
  margin: 20px auto;
  padding: 20px;
  background: #f9f9f9;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
  font-family: Arial, sans-serif;
}

.profile-container h2,
.profile-container h3 {
  color: #027d94;
  border-bottom: 2px solid #dcdcdc;
  padding-bottom: 5px;
  margin-bottom: 10px;
}

.profile-container p {
  color: #333;
  margin: 5px 0;
}

.profile-container a {
  display: inline-block;
  padding: 8px 12px;
  margin-top: 10px;
  text-decoration: none;
  background-color: #029407;
  color: white;
  border-radius: 5px;
  transition: 0.3s;
}

.profile-container a:hover {
  background-color: #016b05;
}

.profile-picture {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.profile-picture img {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  object-fit: cover;
  border: 3px solid #409402;
}

.profile-picture span {
  color: #777;
  font-style: italic;
}
