<footer class="footer-container ">
    <div class="footer-content ">
      <div class="footer-section">
        <h4>Internship Portal</h4>
        <p>Connecting students with opportunities.</p>
      </div>
      <div class="footer-section">
        <h4>Quick Links</h4>
        <ul>
          <li><a routerLink="/student">Home</a></li>
          <li><a href="/student/view-applications">Internships</a></li>
          <li><a href="/student/view-internships">Applications</a></li>
          <li><a href="#">Contact Us</a></li>
        </ul>
      </div>
      <div class="footer-section">
        <h4>Contact</h4>
        <p>Email: supportgovinternships.com</p>
        <p>Phone: +91-9876543210</p>
      </div>
     
    </div>
  </footer>
  