<nav><app-navbar></app-navbar></nav>

<body>
    <section>
        <form [formGroup]="projectForm" (ngSubmit)="submitProject()">
            <fieldset>
                <legend>Create a New Project</legend>

                <div>
                    <label for="student">Select Student:</label>
                    <select id="student" formControlName="studentEmail" (change)="onStudentChange($event)">
                        <option value="" disabled>Select a student</option>
                        <option *ngFor="let student of students" [value]="student.email">
                            {{ student.email }}
                        </option>
                    </select>
                </div>

                <div>
                    <label for="internship">Select Internship:</label>
                    <select id="internship" formControlName="internship" (change)="onInternshipChange($event)">
                        <option value="" disabled>Select an internship</option>
                        <option *ngFor="let internship of selectedInternships" [value]="internship.name">
                            {{ internship.name }}
                        </option>
                    </select>

                </div>
                <div *ngIf="selectedInternshipStartDate && selectedInternshipEndDate" class="alert alert-info">
                    <b>Internship Duration:</b> {{ selectedInternshipStartDate }} to {{ selectedInternshipEndDate }}
                    <br>
                    <b>Note</b>: Submission date must be within this period.
                </div>
                <div *ngIf="submissionError" class="alert alert-danger">
                    {{ submissionError }}
                </div>
                
                <div>
                    <label for="submissionDate">Submission Date:</label>
                    <input id="submissionDate" type="date" formControlName="submissionDate"
                        (change)="validateSubmissionDate()" />
                </div>
                
                <div>
                    <label for="projectName">Project Name:</label>
                    <input id="projectName" type="text" formControlName="projectName"
                        placeholder="Enter project name" />
                </div>
                <div>
                    <label for="projectDescription">Description</label>
                    <textarea type="text" name="projectDescription" formControlName="projectDescription"
                        placeholder="Enter the project details here, it should include all the project details."></textarea>
                </div>

                <button type="submit" [disabled]="projectForm.invalid">Create Project</button>
            </fieldset>
        </form>
    </section>
   <app-popup> </app-popup>
</body>