<body>
    <header>
        <app-navbar></app-navbar>
    </header>
    <main>
        <section>
            <div class="container flex shadow">

                <div class="instructions shadow">
                    <h2>Instructions for creating an Internship</h2>
                    <hr>
                    <ul>
                        <li>Fill in the required details like title, category, and duration.</li>
                        <li>Specify location (Remote or On-Site).</li>
                        <li>Add skills required and eligibility criteria.</li>
                        <li>Provide stipend details (if applicable).</li>
                        <li>Set the application deadline.</li>
                        <li>Click "Submit" to post the internship.</li>
                        <li>Click "Submit" to post the internship.</li>
                        <li>Click "Submit" to post the internship.</li>
                        <li>Click "Submit" to post the internship.</li>
                        <li>Click "Submit" to post the internship.</li>
                        <li>Click "Submit" to post the internship.</li>
                        <li>Click "Submit" to post the internship.</li>
                        <li>Click "Submit" to post the internship.</li>
                    </ul>
                </div>

                <div class="form ">
                    <form action="">
                        <h2>Create Internship</h2>
                        <hr>
                        <label for="internshipName">Internship Name</label>
                        <input type="text" name="" id="internshipName">
                    </form>
                </div>


            </div>
        </section>

    </main>

</body>