<body>
    <header>
        <app-navbar></app-navbar>
    </header>
    <main>
        <section>
            <div class="container flex shadow ">

                <div class="instructions shadow">
                    <h2>Instructions for creating an Internship</h2>
                    <hr>
                    <ul>
                        <li>Fill in the required details like title, category, and duration.</li>
                        <li>Specify location (Remote or On-Site).</li>
                        <li>Add skills required and eligibility criteria.</li>
                        <li>Provide stipend details (if applicable).</li>
                        <li>Set the application deadline.</li>
                        <li>Click "Submit" to post the internship.</li>
                        <li>Click "Submit" to post the internship.</li>
                        <li>Click "Submit" to post the internship.</li>
                        <li>Click "Submit" to post the internship.</li>
                        <li>Click "Submit" to post the internship.</li>
                        <li>Click "Submit" to post the internship.</li>
                        <li>Click "Submit" to post the internship.</li>
                        <li>Click "Submit" to post the internship.</li>
                    </ul>
                </div>


                <form action="" class="flex form">
                    <h2 class="flex-child">Create Internship</h2>
                    <hr>

                    <div class="flex-child">
                        <label for="internshipName">Internship Name</label>
                        <input type="text" name="" id="internshipName">
                    </div>

                    <div class="flex-child">
                        <label for="startDate">Start Date</label>
                        <input type="date" name="" id="startDate">
                    </div>
                    <div class="flex-child">
                        <label for="endDate">End Date</label>
                        <input type="date" name="" id="endDate">
                    </div>
                    <div class="flex-child">
                        <label for="status">Status</label>
                        <select name="" id="status">
                            <option value="ACTIVE">Active</option>
                            <option value="INACTIVE">InActive</option>
                        </select>
                    </div>
                    <div class="flex-child"><label for="requiredSkills">Required Skills</label>
                        <input type="text" id="requiredSkills" formControlName="requiredSkills"
                            placeholder="Java, Spring Boot, SQL" />
                    </div>
                    <div class="flex-child"><label for="location">Work Mode</label>
                        <select name=""  id="location">
                            <option value="remote">Remote</option>
                            <option value="on-site">On-Site</option>
                        </select>
                    </div>
                    <div class="flex-child"><label for="description">Description</label>
                        <textarea name="" id="description"></textarea>
                    </div>
                   <div class="flex-child">
                    <button type="button" value="Submit" class="button">Submit</button>
                   </div>

                </form>
            </div>



        </section>

    </main>

</body>