* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.footer-content {
    width: 90%;
    max-width: 1200px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    margin: 0 auto;
    gap: 20px;
    text-align: center;
    justify-content: center;
    align-items: center;
   
}

.footer-section h4 {
    margin-bottom: 10px;
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 2vh;

}

.footer-section ul {
    list-style: none;
    padding: 0;
}

.footer-section ul li {
    margin: 5px 0;
}

.footer-section ul li a {
    color: aliceblue;
    text-decoration: none;
    transition: 0.3s;
}

.footer-section ul li a:hover {
    color: #00bcd4;
}

.social-icons a {
    color: aliceblue;
    font-size: 1.5rem;
    margin-right: 10px;
    transition: 0.3s;
}

.social-icons a:hover {
    color: #00bcd4;
}
