<div class="sticky-top">
    <header class="text-center py-2 header ">
        <div class="container ">
            <p class="mb-0 fw-bold fs-2 ">Internship Portal- Government of Sikkim</p>
        </div>
    </header>
    <nav class="navbar navbar-expand-lg  navbar-light bg-light ">
        <div class="container-fluid">
            <a class="navbar-brand" routerLink="instructors-home"><img src="../../../assets/images/logo.webp" alt="Home"
                    srcset="" class="img-fluid" style="max-height: 50px;width: auto;"></a>
            <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false"
                aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse text-center" id="navbarSupportedContent">
                <ul class="navbar-nav me-auto mb-2 mb-lg-0 ">
                    <li class="nav-item rounded  me-5">
                        <a class="nav-link active " aria-current="page" routerLink="/instructors">Home</a>
                    </li>
                    <li class="nav-item  rounded  me-5">
                        <a class="nav-link active" routerLink="/manage-internships">Internships</a>
                    </li>
                    <li class="nav-item rounded  me-5  ">
                        <a class="nav-link active" routerLink="/applications">Applications</a>
                    </li>
                </ul>

                <div class="dropdown ms-4">
                    <button class="btn p-0 border-0 bg-transparent" type="button" id="profileDropdown"
                        data-bs-toggle="dropdown" data-bs-auto-close="outside" aria-expanded="false">
                        <img src="../../../assets/images/logo.webp" alt="Profile" class="profile-img">
                    </button>
                    <ul class="dropdown-menu dropdown-menu-end mt-2" aria-labelledby="profileDropdown">
                        <li><a class="dropdown-item" routerLink="/profile">View Profile</a></li>
                        <li><a class="dropdown-item" href="/profile/edit">Edit Profile</a></li>
                        <li><button class="dropdown-item" (click)="logOut()">Logout</button></li>
                    </ul>
                </div>
            </div>
        </div>
    </nav>
</div>
<div class="container-fluid mt-3">
    <form class="d-flex justify-content-center" role="search">
        <input class="form-control me-2 w-50" type="search" placeholder="Search Internships or Applications"
            aria-label="Search">
        <button class="btn btn-outline-success" type="submit">Search</button>
    </form>
</div>