<header class="d-flex justify-content-center align-items-center py-2 header">
  <div class="container text-center">
    <div class="container"><img src="../../../assets/images/logo.webp" alt="" class="img-responsive"></div>
    <hr>
    <p class="mb-0 fw-bold fs-2 mt-3">Internship Portal - Government of Sikkim</p>
  </div>
</header>

<nav class="navbar navbar-expand-lg  navbar-light ">
  <div class="container-fluid ">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse mt-1 mb-2 ms-3 justify-content-end" id="navbarNav"> 
      <ul class="navbar-nav ">
        <li class="nav-item"><a class="nav-link" routerLink="/">Home</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/departments">View Departments</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/login">Sign In</a></li>
        <li class="nav-item"><a class="nav-link" routerLink="/register">Sign Up</a></li>
      </ul>
    </div>
  </div>
</nav>
<hr>

<div class="hero position-relative">
  <img [src]="bannerImageUrls[currentImageIndex]" alt="Sikkim Scenery" class="hero-image img-fluid w-100">
</div>
<section class="cultural-highlights">
  <h2>Sikkim's Cultural Richness</h2>
  <div class="highlight-grid">
    <div class="highlight">
      <img src="assets/images/monastry.jpg" alt="Monastery" />
      <h3>Sikkim's rich culture</h3>
      <p>
        Discover the serene beauty and spiritual significance of Sikkim's
        Heritage.
      </p>
    </div>
    <div class="highlight">
      <img src="assets/images/festivals.webp" alt="Festival" />
      <h3>Vibrant Festivals</h3>
      <p>
        Experience the colorful celebrations and rich traditions of Sikkim's
        diverse festivals.
      </p>
    </div>
    <div class="highlight">
      <img src="assets/images/culture.webp" alt="Handicrafts" />
      <h3>Handicrafts</h3>
      <p>
        Explore the intricate craftsmanship and unique artistry of Sikkim's
        traditional handicrafts.
      </p>
    </div>
    <div class="highlight">
      <img src="assets/images/culture.webp" alt="Handicrafts" />
      <h3>Handicrafts</h3>
      <p>
        Explore the intricate craftsmanship and unique artistry of Sikkim's
        traditional handicrafts.
      </p>
    </div>
    <div class="highlight">
      <img src="assets/images/culture.webp" alt="Handicrafts" />
      <h3>Handicrafts</h3>
      <p>
        Explore the intricate craftsmanship and unique artistry of Sikkim's
        traditional handicrafts.
      </p>
    </div>
  </div>
</section>

<footer class="bg-dark text-white text-center py-3">
  <p class="mb-0">&copy; 2025 Government of Sikkim</p>
</footer>