* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  width: 100%;
  font-family: "Roboto", sans-serif;
}

.header,
.navbar {
  background-color: #140057;
  /* 140057
  4801FF
  CC00FF
  8BFFD8
    */
  color: white;
}
.nav-link {
  color: white;
  font-size: larger;
}

.navbar-nav .nav-link {
  font-weight: 600;
}


.navbar-toggler-icon {
  filter: invert(1); 
}


.hero {
  position: relative;
  width: 100%;
  height: 70vh;
  overflow: hidden;
}

.hero-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.cultural-highlights {
  padding: 2rem;
  text-align: center;
}

.highlight-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: 1rem;
}

.highlight {
  background: white;
  padding: 1rem;
  border-radius: 5px;
  text-align: center;
}

.highlight img {
  width: 100%;
  height: auto;
  border-radius: 5px;
}

footer {
  text-align: center;
  padding: 1rem;
  background-color: #333;
  color: white;
}
.img-responsive{
  height: 90px;
  width: auto;
}

@media (max-width: 768px) {
  .highlight-grid {
    grid-template-columns: 1fr;
  }

  .img-responsive{
    height: 60px;
    width: auto;
  }
}