<body>
  <main>
    <div class="form-container">
      <form [formGroup]="forgetForm" (ngSubmit)="onSubmit()">
        <!-- Email Field -->
        <label for="email">Email</label>
        <input id="email" formControlName="email" type="email" placeholder="Enter your registered email" />

        <!-- Submit Button -->
        <button type="submit" [disabled]="forgetForm.invalid">Search your Account</button>

        <!-- Error Message -->
        <div *ngIf="accountNotFound" class="error-message">
          No accounts found! <a href="/register">Register now</a>
        </div>

        <!-- Claim Account Section -->
        <div *ngIf="accountFound && !accountClaimed" class="claim-section">
          <button type="button" (click)="claimAccount()">Claim Account</button>
        </div>
      </form>
      <form [formGroup]="otpForm" (ngSubmit)="submitOtp()">

        <!-- Additional Section After Claim -->
        <div *ngIf="accountClaimed" class="otp-section">
          <div *ngIf="otpInvalid" class="error-message">
            Invalid OTP. Please try again.
          </div>
          
          <label for="otp">Enter the OTP received by {{email}}</label>
          <input id="otp" formControlName="otp" type="text" pattern="\d*" maxlength="6" inputmode="numeric"
            placeholder="0 0 0 0 0 0" />
          <button type="submit" [disabled]="otpForm.invalid">Submit</button>


          <!-- You can add more like OTP input here if needed -->
        </div>
      </form>
      <form [formGroup]="newPasswordForm" (ngSubmit)="resetPassword()">

        <!-- Additional Section After Claim -->
        <div *ngIf="isOtpVerified" class="otp-section">
          <label for="password">Enter your new password</label>
          <input id="password"  formControlName="password"  type="password" 
             />
          <button type="submit" [disabled]="otpForm.invalid">Reset</button>


          <!-- You can add more like OTP input here if needed -->
        </div>
      </form>
    </div>
  </main>
</body>